@media screen and (max-width: 767px) {
  .section-two-icon {
    display: none;
  }

  .section-two-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .section-two {
    background: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-two-item-title {
    color: var(--navyblue, #2e2f42);
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-two-text {
    color: var(--slate, #434455);
    width: 288px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
  .section-two-icon {
    display: none;
  }

  .section-two-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    }

  .section-two-list {
    /*width: calc((100% - 72px) / 4);*/
    /*justify-content: space-between;*/
    justify-content: center;
  }

  .section-two {
    background: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-two-item-title {
    color: var(--navyblue, #2e2f42);
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .section-two-text {
    color: var(--slate, #434455);
    width: 356px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1158px) {
  .section-two-list {
    display: flex;
    gap: 24px;
  }

  .section-two-list {
    /*width: calc((100% - 72px) / 4);*/
    /*justify-content: space-between;*/
    justify-content: center;
  }

  .section-two {
    background: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-two-icon {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
  }

  .section-two-item-title {
    color: var(--navyblue, #2e2f42);
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }

  .section-two-text {
    color: var(--slate, #434455);
    width: 264px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
}
