@media screen and (max-width: 767px) {
  .section-four {
    background: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 160px;
    row-gap: 48px;
    justify-content: center;
  }

  .section-four-item {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .section-four-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .section-four-item-title {
    color: var(--navyblue, #2e2f42);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .section-four-text {
    color: var(--slate, #434455);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section-four-wrapper {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-item:hover .overlay {
    transform: translateY(0%);
  }

  .section-four-item:hover,
  .section-four-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .section-four {
    background: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    /*justify-content: space-between;*/
    justify-content: center;
  }

  .section-four-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .section-four-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  /*
      .section-four-item {
        width: calc((100% - 48px) / 3);
      }*/

  .section-four-item-title {
    color: var(--navyblue, #2e2f42);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .section-four-text {
    color: var(--slate, #434455);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section-four-wrapper {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-item:hover .overlay {
    transform: translateY(0%);
  }

  .section-four-item {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-item:hover,
  .section-four-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .section-four {
    background: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    /*justify-content: space-between;*/
    justify-content: center;
  }

  .section-four-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .section-four-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  /*
  .section-four-item {
    width: calc((100% - 48px) / 3);
  }*/

  .section-four-item-title {
    color: var(--navyblue, #2e2f42);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .section-four-text {
    color: var(--slate, #434455);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section-four-wrapper {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-item:hover .overlay {
    transform: translateY(0%);
  }

  .section-four-item {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-item:hover,
  .section-four-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
